<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
     <!-- hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Logging all generated SQL to console -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

  <!-- Database connection properties - Driver, URL, user, password -->
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">password</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.80.9/test</property>
  <property name="hibernate.connection.username">developer</property>
  <property name="hibernate.hbm2ddl.auto">create</property>

  <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
  <property name="hibernate.current_session_context_class">thread</property>

  <!-- Mapping with model class containing annotations -->
  <mapping class="com.redpine.TradeDataAccess.PriceData.model.Timesalesdata"/>
  <mapping class="com.redpine.TradeDataAccess.PriceData.model.L1data"/>
  <mapping class="com.redpine.TradeDataAccess.PriceData.model.L2data"/>
  <mapping class="com.redpine.TradeDataAccess.AccountData.model.OpenOrderData"/>
  <mapping class="com.redpine.TradeDataAccess.AccountData.model.OrderHistoryData"/>
  <mapping class="com.redpine.TradeDataAccess.AccountData.model.PositionData"/>
  <mapping class="com.redpine.TradeDataAccess.AccountData.model.PurchaseData"/>
  <mapping class="com.redpine.TradeDataAccess.AccountData.model.AccountData"/>
 </session-factory>
</hibernate-configuration>
